@page "{versionId:int?}"
@using core
@model CreateModel
@{
    ViewData["Title"] = "Create New Recipe";
}

<style>
    .submitButton {
        margin: var(--medium) 0;
        width: 100%;
    }
</style>
<div>
    @if (Model.VersionId == null) {
        <h1>Create New Recipe</h1>
    }
    else {
        <h1>Edit @Model.RecipeMetadata?.Name</h1>
    }
    <form>
        @Html.AntiForgeryToken()
        <div>
            <label for="name">Recipe Name: </label>
            <input asp-for="RecipeMetadata.Name" id="name" required/>
        </div>
        <div>
            <label for="original-author">Original Author: </label>
            <input asp-for="RecipeMetadata.OriginalAuthor" id="original-author"/>
        </div>
        <div>
            <label for="description">Description: </label>
            <textarea rows="2" asp-for="RecipeMetadata.Description" id="description"></textarea>
        </div>
        <div>
            <label for="category">Category: </label>
            <select asp-for="RecipeMetadata.Category" id="category">
                <option value="@Categories.Uncategorized">@Categories.Uncategorized</option>
                <option value="@Categories.Entree">@Categories.Entree</option>
                <option value="@Categories.Side">@Categories.Side</option>
                <option value="@Categories.Drink">@Categories.Drink</option>
                <option value="@Categories.Desert">@Categories.Desert</option>
            </select>
        </div>
        <div>
            <label for="effortLevel">Effort Level: </label>
            <select asp-for="RecipeMetadata.EffortLevel" id="effortLevel">
                <option value="@EffortLevels.Easy">@EffortLevels.Easy</option>
                <option value="@EffortLevels.Medium">@EffortLevels.Medium</option>
                <option value="@EffortLevels.Hard">@EffortLevels.Hard</option>
            </select>
        </div>
        <div>
            <label for="totalTime">Total Time (minutes): </label>
            <input asp-for="RecipeMetadata.TotalTimeMinutes" id="totalTime" type="number" required/>
        </div>
        <div>
            <label for="activeTime">Active Time (minutes): </label>
            <input asp-for="RecipeMetadata.ActiveTimeMinutes" id="activeTime" type="number" required/>
        </div>
        <h2 id="ingredients">Ingredients</h2>
        <div id="@ViewIds.CreateIngredientsList">
            @await Html.PartialAsync(
                "_CreateIngredientList",
                new CreateIngredientListModel {
                    Ingredients = Model.Ingredients,
                    AutoFocusId = Model.AutoFocusId
                })
        </div>
        <h2 id="steps">Steps</h2>
        <div id="@ViewIds.CreateStepList">
            @await Html.PartialAsync(
                "_CreateStepList",
                new CreateStepListModel {
                    Steps = Model.Steps,
                    AutoFocusId = Model.AutoFocusId
                })
        </div>
        <hr/>
        @if (Model.VersionId == null) {
            <button
                hx-swap="none"
                hx-post="Create/Index?handler=SaveExisting"
                class="submitButton primary">
                Save
            </button>
        }
        else {
            <button
                class="submitButton primary"
                onclick="OpenDialogById('@ViewIds.CreateSaveDialog')"
                type="button">
                Save
            </button>
        }
        <dialog id="@ViewIds.CreateSaveDialog">
            <h1>Save Changes</h1>
            <hr/>
            <label for="update-message">Update Message</label>
            <input
                id="update-message"
                asp-for="@Model.UpdateMessage"
                autofocus/>
            <div class="dialog-button-wrapper">
                <button
                    hx-swap="none"
                    hx-vals='{ "versionId": "@Model.VersionId" }'
                    hx-post="Index?handler=SaveNew"
                    type="submit"
                    class="dialog-button primary"
                    onclick="CloseDialogById('@ViewIds.CreateSaveDialog')">Update</button>
                <button
                    hx-swap="none"
                    hx-vals='{ "versionId": "@Model.VersionId" }'
                    hx-post="Index?handler=SaveExisting"
                    type="submit"
                    class="dialog-button"
                    onclick="CloseDialogById('@ViewIds.CreateSaveDialog')">Correction</button>
                <hr/>
                <button
                    class="dialog-button"
                    type="button"
                    onclick="CloseDialogById('@ViewIds.CreateSaveDialog')">Close</button>
            </div>
        </dialog>
    </form>
</div>