@page "/Compare/{id1:int}/{id2:int}"
@model Compare
@{
    ViewData["Title"] = "Compare";
}

<div>
    @if (Model.VersionId1 == null || Model.VersionId2 == null) {
        <p>Unable to load recipe comparison</p>
    }
    else {
        <h1>@Model.RecipeName</h1>
        <table>
            <tr>
                <td>Previous - @ViewUtils.FormatDate(Model.Versions![^2].CreatedAt)</td>
                <td>Latest - @ViewUtils.FormatDate(Model.Versions[^1].CreatedAt)</td>
            </tr>
            @if (!string.IsNullOrWhiteSpace(Model.Versions[^1].Message)) {
                <tr>
                    <td></td>
                    <td>@Model.Versions[^1].Message</td>
                </tr>
            }
        </table>
        <h2>Ingredients</h2>
        <table>
            @foreach (var ingredient in Model.IngredientComparisons) {
                <tr>
                    <td class="@ingredient.Type">@ingredient.Item1Line1</td>
                    <td class="@ingredient.Type">@ingredient.Item2Line1</td>
                </tr>
            }
        </table>
        <h2>Steps</h2>
        <table>
            @foreach (var step in Model.StepComparisons) {
                <tr>
                    <td class="@step.Type">@step.Item1Line1</td>
                    <td class="@step.Type">@step.Item2Line1</td>
                </tr>
                <tr>
                    <td class="@step.Type">@step.Item1Line2</td>
                    <td class="@step.Type">@step.Item2Line2</td>
                </tr>
            }
        </table>
        <h2>Comments</h2>
        <table>
            @foreach (var comment in Model.CommentComparisons) {
                <tr>
                    <td class="@comment.Type">@comment.Item1Line1</td>
                    <td class="@comment.Type">@comment.Item2Line1</td>
                </tr>
                <tr>
                    <td class="@comment.Type">@comment.Item1Line2</td>
                    <td class="@comment.Type">@comment.Item2Line2</td>
                </tr>
            }
        </table>
    }
</div>
