@page "{versionId:int?}"
@using core
@model CreateModel
@{
    ViewData["Title"] = "Create New Recipe";
    const string saveDialog = "saveDialog";
}

<script>
    function OpenSaveDialog() {
        const dialog = document.getElementById("@saveDialog")
        dialog.showModal();
    }
    function CloseSaveDialog() {
        const dialog = document.getElementById("@saveDialog")
        dialog.close();
    }
</script>

<div>
    @if (Model.VersionId == null) {
        <h1>Create New Recipe</h1>
    }
    else {
        <h1>Edit @Model.RecipeMetadata?.Name</h1>
    }
    <form method="post">
        <div>
            <label for="name">Recipe Name: </label>
            <input asp-for="RecipeMetadata.Name" id="name" required/>
        </div>
        <div>
            <label for="description">Description: </label>
            <textarea rows="2" asp-for="RecipeMetadata.Description" id="description"></textarea>
        </div>
        <div>
            <label for="category">Category: </label>
            <select asp-for="RecipeMetadata.Category" id="category">
                <option value="@Categories.Uncategorized">@Categories.Uncategorized</option>
                <option value="@Categories.Entree">@Categories.Entree</option>
                <option value="@Categories.Side">@Categories.Side</option>
                <option value="@Categories.Drink">@Categories.Drink</option>
                <option value="@Categories.Desert">@Categories.Desert</option>
            </select>
        </div>
        <div>
            <label for="effortLevel">Effort Level: </label>
            <select asp-for="RecipeMetadata.EffortLevel" id="effortLevel">
                <option value="@EffortLevels.Easy">@EffortLevels.Easy</option>
                <option value="@EffortLevels.Medium">@EffortLevels.Medium</option>
                <option value="@EffortLevels.Hard">@EffortLevels.Hard</option>
            </select>
        </div>
        <div>
            <label for="totalTime">Total Time (minutes): </label>
            <input asp-for="RecipeMetadata.TotalTime" id="totalTime" type="number" required/>
        </div>
        <div>
            <label for="activeTime">Active Time (minutes): </label>
            <input asp-for="RecipeMetadata.ActiveTime" id="activeTime" type="number" required/>
        </div>
        <h2 id="ingredients">Ingredients</h2>
        <div>
            @for (var i = 0; i < Model.RecipeIngredients.Count; i++) {
                <hr/>
                <div>
                    <input
                        formaction="@Model.GetBaseRoute()?@CreateActions.RemoveIngredient=@i"
                        formnovalidate
                        type="submit"
                        value="X"/>
                    <label for="ingredient-name-@i">Name: </label>
                    <input
                        asp-for="@Model.RecipeIngredients[i].Name"
                        id="ingredient-name-@i"
                        autofocus="@(Model.AutoFocusId == $"ingredient-name-{i}")"
                        value="@Model.RecipeIngredients[i].Name"
                        required/>
                </div>
                <div>
                    <label for="quantity-@i">Quantity: </label>
                    <input
                        asp-for="@Model.RecipeIngredients[i].Quantity"
                        step=".01"
                        id="quantity-@i"
                        value="@Model.RecipeIngredients[i].Quantity"
                        type="number"
                        required/>
                </div>
                <div>
                    <label for="unit-@i">Unit: </label>
                    <input
                        asp-for="@Model.RecipeIngredients[i].Unit"
                        id="unit-@i"
                        value="@Model.RecipeIngredients[i].Unit"/>
                </div>
            }
            <input
                formaction="@Model.GetBaseRoute()?@CreateActions.NewIngredient"
                formnovalidate
                type="submit"
                value="Add Ingredient"/>
        </div>
        <h2 id="steps">Steps</h2>
        <div>
            @for (var i = 0; i < Model.RecipeSteps.Count; i++) {
                <hr/>
                <div>
                    <div>
                        <input
                            formaction="@Model.GetBaseRoute()?@CreateActions.RemoveStep=@i"
                            formnovalidate
                            type="submit"
                            value="X"/>
                        @if (i < Model.RecipeSteps.Count - 1) {
                            <input
                                formaction="@Model.GetBaseRoute()?@CreateActions.MoveStepDown=@i"
                                formnovalidate
                                type="submit"
                                value="Down"/>
                        }
                        @if (i > 0) {
                            <input
                                formaction="@Model.GetBaseRoute()?@CreateActions.MoveStepUp=@i"
                                formnovalidate
                                type="submit"
                                value="Up"/>
                        }
                    </div>
                    <label for="step-name-@i">@(i + 1): Name: </label>
                    <input
                        asp-for="@Model.RecipeSteps[i].Name"
                        id="step-name-@i"
                        autofocus="@(Model.AutoFocusId == $"step-name-{i}")"
                        value="@Model.RecipeSteps[i].Name"
                        required/>
                </div>
                <textarea
                    rows="5"
                    id="step-instruction-@Model.RecipeSteps[i].Name"
                    asp-for="@Model.RecipeSteps[i].Instruction"
                    required>
                </textarea>
            }
            <input
                formaction="@Model.GetBaseRoute()?@CreateActions.NewStep"
                formnovalidate
                type="submit"
                value="Add Step"/>
        </div>
        <hr />
        <div class="submitContainer">
            <a href="/Index">
                <button class="submitButton" type="button">Cancel</button>
            </a>
            @if (Model.VersionId == null) {
                <button formaction="?@CreateActions.SaveExisting" class="submitButton primary">
                    Save
                </button>
            }
            else {
                <button class="submitButton primary" onclick="OpenSaveDialog()" type="button">
                    Save
                </button>
            }
        </div>
        <dialog id="@saveDialog">
            <h1>Save Changes</h1>
            <hr />
            <label for="update-message">Update Message</label>
            <input
                id="update-message"
                asp-for="@Model.UpdateMessage"
                autofocus />
            <div class="dialog-button-wrapper">
                <button
                    formaction="?@CreateActions.SaveAsNewVersion"
                    type="submit"
                    class="dialog-button primary"
                    onclick="CloseSaveDialog()">Update</button>
                <button
                    formaction="?@CreateActions.SaveExisting"
                    type="submit"
                    class="dialog-button"
                    onclick="CloseSaveDialog()">Correction</button>
                <hr />
                <button
                    class="dialog-button"
                    type="button"
                    onclick="CloseSaveDialog()">Close</button>
            </div>
        </dialog>
    </form>
</div>