@page "{id:int?}"
@using core
@model CreateModel
@{
    ViewData["Title"] = "Create New Recipe";
}

<div>
    @if (Model.VersionId == null) {
        <h1>Create New Recipe</h1>
    }
    else {
        <h1>Edit Version Id: @Model.VersionId</h1>
    }
    <form method="post">
        <h2>Metadata</h2>
        <div>
            <label for="name">Recipe Name: </label>
            <input asp-for="RecipeMetadata.Name" id="name" required/>
        </div>
        <div>
            <label for="description">Description: </label>
            <input asp-for="RecipeMetadata.Description" id="description" required/>
        </div>
        <div>
            <label for="effortLevel">Effort Level: </label>
            <select asp-for="RecipeMetadata.EffortLevel" id="effortLevel">
                <option value="@EffortLevels.Low">@EffortLevels.Low</option>
                <option value="@EffortLevels.Medium">@EffortLevels.Medium</option>
                <option value="@EffortLevels.High">@EffortLevels.High</option>
            </select>
        </div>
        <div>
            <label for="time">Time (minutes): </label>
            <input asp-for="RecipeMetadata.Time" id="time" type="number" required/>
        </div>
        <h2>Ingredients</h2>
        <div>
            @for (var i = 0; i < Model.RecipeIngredients.Count; i++) {
                <hr/>
                <div>
                    <label for="ingredient-name-@i">Name: </label>
                    <input
                        asp-for="@Model.RecipeIngredients[i].Name"
                        id="ingredient-name-@i"
                        autofocus=@(Model.RecipeIngredients.Count == (i + 1) && string.IsNullOrWhiteSpace(Model.RecipeIngredients[i].Name))
                        required/>
                </div>
                <div>
                    <label for="quantity-@i">Quantity: </label>
                    <input asp-for="@Model.RecipeIngredients[i].Quantity" id="quantity-@i" required/>
                </div>
                <div>
                    <label for="unit-@i">Unit: </label>
                    <input asp-for="@Model.RecipeIngredients[i].Unit" id="unit-@i"/>
                </div>
            }
            <input
                formaction="@Model.GetBaseRoute()?action=@PostActions.NewIngredient"
                formnovalidate
                type="submit"
                value="Add Ingredient"/>
        </div>
        <h2>Steps</h2>
        <div>
            @for (var i = 0; i < Model.RecipeSteps.Count; i++) {
                <hr/>
                <div>
                    <label for="step-name-@i">@(i + 1): Name: </label>
                    <input
                        asp-for="@Model.RecipeSteps[i].Name"
                        id="step-name-@i"
                        autofocus=@(Model.RecipeSteps.Count == (i + 1) && string.IsNullOrWhiteSpace(Model.RecipeSteps[i].Name))
                        required/>
                </div>
                <div class="instructionInput">
                    <input class="instructionInput" asp-for="@Model.RecipeSteps[i].Instruction" required/>
                </div>
            }
            <input
                formaction="@Model.GetBaseRoute()?action=@PostActions.NewStep"
                formnovalidate
                type="submit"
                value="Add Step"/>
        </div>
        <div>
            <input formaction="@Model.GetBaseRoute()?action=@PostActions.Submit" type="submit" value="Submit"/>
        </div>
    </form>
</div>