@page
@model IndexModel
@{
    ViewData["Title"] = "Recipes";
}

<div>
    <h1>Recipes</h1>
    @if (Model.RecipeData != null) {
        <div class="recipe-list-container">
            @foreach (var recipe in Model.RecipeData.Items) {
                <div class="recipe-list-container">
                    <hr />
                    <div class="recipe-list-item">
                        <a asp-page="/Recipe" asp-route-versionId="@recipe.LatestVersionId">
                            <div class="recipe-list-text">
                                <h2>@recipe.Name</h2>
                                <p>@recipe.Description</p>
                            </div>
                        </a>
                        <div class="recipe-list-chip-container">
                            <p class="recipe-list-chip">@recipe.EffortLevel</p>
                            <p class="recipe-list-chip">@recipe.Category</p>
                        </div>
                    </div>
                </div>
            }
        </div>
    }
    else {
        <div>
            <p>An unexpected error occured while fetching recipes.</p>
        </div>
    }
</div>
