@page
@model IndexModel
@{
    ViewData["Title"] = "Recipes";
}

<div>
    <h1>Recipes</h1>
    @if (Model.Error != null) {
        <div>
            <p>An error occured while fetching recipes.</p>
            <p>@Model.Error.Value.Item1 - @Model.Error.Value.Item2</p>
        </div>
    }
    else if (Model.RecipeData != null) {
        <div class="recipe-list-container">
            @foreach (var recipe in Model.RecipeData.Items) {
                <div class="recipe-list-container">
                    <hr />
                    <p class="recipe-list-header">
                        <a asp-page="/RecipeDetails" asp-route-id="@recipe.Id">@recipe.Name - @recipe.EffortLevel.ToString()</a>
                    </p>
                    <p>@recipe.Description</p>
                </div>
            }
        </div>
    }
    else {
        <div>
            <p>An unexpected error occured while fetching recipes.</p>
        </div>
    }
</div>
