@page "{id:int}"
@model RecipeDetailsModel
@{
    ViewData["Title"] = Model.Details?.Name;
}

<script>
    function ConfirmDelete() {
        const dialog = document.getElementById("deleteDialog")
        dialog.showModal();
    }
    
</script>

<div>
    @if (Model.Details == null) {
        <p>Unable to load recipe</p>
    }
    else {
        <div class="header-wrapper">
            <h1>@Model.Details.Name - @($"v{Model.Details.VersionNumber}")</h1>
            <div class="header-action-wrapper">
                <button class="header-action primary">New Version</button>
                <button class="header-action">Edit</button>
                <button class="header-action warning" onclick="ConfirmDelete()">Delete</button>
            </div>
        </div>
        <p>Effort: @Model.Details.EffortLevel, Time: @Model.Details.Time Minutes</p>
        <h2>Ingredients</h2>
        <ul>
            @foreach(var ingredient in Model.Details.Ingredients) {
                <li>@ingredient.Name - @ingredient.Quantity @ingredient.Unit</li>
            }
        </ul>
        <h2>Steps</h2>
        <ol>
            @foreach (var step in Model.Details.Steps) {
                <li>
                    <p><b>@step.Name</b></p>
                    <p>@step.Instruction</p>
                </li>
            }
        </ol>
    }
    <dialog id="deleteDialog">
        <p>Are you sure you'd like to delete this?</p>
        <div class="dialog-footer">
            <hr />
            <div class="dialog-button-wrapper">
                <form method="dialog">
                    <button class="primary">Cancel</button>
                </form>
                <form method="post">
                    <button
                        class="warning"
                        formaction="?action=@RecipeDetailsAction.DeleteConfirmation"
                        type="submit">DELETE</button>
                </form>
            </div>
        </div>
    </dialog>
</div>
