@page "{versionId:int}"
@model RecipeModel
@{
    ViewData["Title"] = Model.Details?.RecipeMetadata.Name;
    const string deleteDialog = "deleteDialog";
    const string madeItDialog = "madeItDialog";
    const string rating = "rating";
}

<script>
    function ConfirmDelete() {
        const dialog = document.getElementById("@deleteDialog")
        dialog.showModal();
    }
    function CloseDeleteDialog() {
        const dialog = document.getElementById("@deleteDialog")
        dialog.close();
    }
    
    function OpenMadeIt() {
        const dialog = document.getElementById("@madeItDialog");
        dialog.showModal();
        const rating = document.getElementById("@rating");
        rating.focus();
    }
    function CloseMadeIt() {
        const dialog = document.getElementById("@madeItDialog")
        dialog.close();
    }
</script>

<div>
    @if (Model.Details == null) {
        <p>Unable to load recipe</p>
    }
    else {
        <div class="header-wrapper">
            <h1>@Model.Details.RecipeMetadata.Name @Model.Details.Version.VersionNumber</h1>
            <div class="header-action-wrapper">
                <button class="header-action primary" onclick="OpenMadeIt()">Review</button>
                @if (Model.Versions.Count > 1) {
                    <a
                        asp-page="/Compare"
                        asp-route-id1="@Model.Versions[^2].VersionId"
                        asp-route-id2="@Model.Versions[^1].VersionId">
                        <button class="header-action">Compare</button>
                    </a>
                }
                <a asp-page="/Create" asp-route-versionId="@Model.Id">
                    <button class="header-action">Edit</button>
                </a>
                <button class="header-action warning" onclick="ConfirmDelete()">Delete</button>
            </div>
        </div>
        <p>Effort: @Model.Details.RecipeMetadata.EffortLevel, Time: @Model.Details.RecipeMetadata.TimeMinutes Minutes</p>
        <h2>Ingredients</h2>
        <ul>
            @foreach(var ingredient in Model.Details.Ingredients) {
                <li>@ingredient.Name - @ingredient.Quantity @ingredient.Unit</li>
            }
        </ul>
        <h2>Steps</h2>
        <ol>
            @foreach (var step in Model.Details.Steps) {
                <li>
                    <p><b>@step.Name</b></p>
                    <p>@step.Instruction</p>
                </li>
            }
        </ol>
    }
    <h1 id="comments">Comments</h1>
    @if (Model.Comments.Count == 0) {
        <p>No comments yet!</p>
    }
    else {
        foreach (var comment in Model.Comments.Where(c => c.VersionId == Model.Details?.Version.VersionId).OrderByDescending(c => c.CreatedAt)) {
            <hr />
            <p>Rating: @($"{comment.Rating}/5") at @comment.CreatedAt</p>
            @if (!string.IsNullOrWhiteSpace(comment.Comment)) {
                <p>Comment: @comment.Comment</p>
            }
        }
        <h2>Previous Version Comments</h2>
        foreach (var comment in Model.Comments.Where(c => c.VersionId != Model.Details?.Version.VersionId).OrderByDescending(c => c.CreatedAt)) {
            <hr />
            <p>Rating: @($"{comment.Rating}/5") at @comment.CreatedAt</p>
            @if (!string.IsNullOrWhiteSpace(comment.Comment)) {
                <p>Comment: @comment.Comment</p>
            }
        }
    }
    <dialog id="@madeItDialog">
        <form method="post">
            <div>
                <label for="@rating">Rating (out of 5):</label>
                <input
                    asp-for="@Model.NewComment.Rating"
                    id="@rating"
                    required/>
            </div>
            <div>
                <label for="comment">Comment (optional)</label>
                <textarea
                    rows="4"
                    asp-for="@Model.NewComment.Comment"
                    id="comment" ></textarea>
            </div>
            <div class="dialog-footer">
                <hr />
                <div class="dialog-button-wrapper">
                    <button class="dialog-button" onclick="CloseMadeIt()">Cancel</button>
                    <button
                        class="primary dialog-button"
                        formaction="?action=@RecipeDetailsAction.AddComment"
                        type="submit">
                        Submit
                    </button>
                </div>
            </div>
        </form>
    </dialog>
    <dialog id="@deleteDialog">
        <form method="post">
            <div class="dialog-button-wrapper">
                <p>Type 'DELETE' to confirm</p>
                <input asp-for="@Model.DeleteConfirmation" required/>
                <hr/>
                <button
                    class="warning dialog-button"
                    formaction="?action=@RecipeDetailsAction.DeleteVersion"
                    type="submit">Delete this Version</button>
                <button
                    class="warning dialog-button"
                    formaction="?action=@RecipeDetailsAction.DeleteEntireRecipe"
                    type="submit">Delete ALL Versions</button>
                <button
                    class="dialog-button"
                    type="button"
                    onclick="CloseDeleteDialog()">
                    Cancel
                </button>
            </div>
        </form>
    </dialog>
</div>
