@page "{id:int}"
@model Recipe
@{
    ViewData["Title"] = Model.Details?.Name;
    const string deleteDialog = "deleteDialog";
    const string madeItDialog = "madeItDialog";
}

<script>
    function ConfirmDelete() {
        const dialog = document.getElementById("@deleteDialog")
        dialog.showModal();
    }
    
    function OpenMadeIt() {
        const dialog = document.getElementById("@madeItDialog")
        dialog.showModal();
    }
    function CloseMadeIt() {
        const dialog = document.getElementById("@madeItDialog")
        dialog.close();
    }
</script>

<div>
    @if (Model.Details == null) {
        <p>Unable to load recipe</p>
    }
    else {
        <div class="header-wrapper">
            <h1>@Model.Details.Name - @($"v{Model.Details.VersionNumber}")</h1>
            <div class="header-action-wrapper">
                <button class="header-action primary" onclick="OpenMadeIt()">Made It!</button>
                <a asp-page="/Create" asp-route-id="@Model.Id">
                    <button class="header-action">Edit</button>
                </a>
                <button class="header-action warning" onclick="ConfirmDelete()">Delete</button>
            </div>
        </div>
        <p>Effort: @Model.Details.EffortLevel, Time: @Model.Details.Time Minutes</p>
        <h2>Ingredients</h2>
        <ul>
            @foreach(var ingredient in Model.Details.Ingredients) {
                <li>@ingredient.Name - @ingredient.Quantity @ingredient.Unit</li>
            }
        </ul>
        <h2>Steps</h2>
        <ol>
            @foreach (var step in Model.Details.Steps) {
                <li>
                    <p><b>@step.Name</b></p>
                    <p>@step.Instruction</p>
                </li>
            }
        </ol>
    }
    <h1>Comments</h1>
    @if (Model.Comments.Count == 0) {
        <p>No comments yet!</p>
    }
    else {
        foreach (var comment in Model.Comments) {
            <hr />
            <p>Rating: @($"{comment.Rating}/5")</p>
            @if (!string.IsNullOrWhiteSpace(comment.Comment)) {
                <p>Comment: @comment.Comment</p>
            }
        }
    }
    <dialog id="@madeItDialog">
        <form method="post">
            <div>
                <label for="rating">Rating (out of 5):</label>
                <input
                    asp-for="@Model.NewComment.Rating"
                    id="rating"
                    required/>
            </div>
            <div>
                <label for="comment">Comment (optional)</label>
                <input
                    asp-for="@Model.NewComment.Comment"
                    id="comment" />
            </div>
            <div class="dialog-footer">
                <hr />
                <div class="dialog-button-wrapper">
                    <button onclick="CloseMadeIt()">Cancel</button>
                    <button
                        class="primary"
                        formaction="?action=@RecipeDetailsAction.AddComment"
                        type="submit">
                        Submit
                    </button>
                </div>
            </div>
        </form>
    </dialog>
    <dialog id="@deleteDialog">
        <p>Are you sure you'd like to delete this?</p>
        <div class="dialog-footer">
            <hr />
            <div class="dialog-button-wrapper">
                <form method="dialog">
                    <button>Cancel</button>
                </form>
                <form method="post">
                    <button
                        class="warning"
                        formaction="?action=@RecipeDetailsAction.DeleteConfirmation"
                        type="submit">DELETE</button>
                </form>
            </div>
        </div>
    </dialog>
</div>
