@model IndexModel

<style>
    .recipe-list-item {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
    }

    .recipe-list-text {
        min-width: 300px;
    }

    .recipe-list-chip-container {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        flex-wrap: wrap;
    }

    .recipe-list-chip {
        font-size: small;
        margin: var(--extra-small);
        padding: var(--extra-small);
        height: fit-content;
        border-radius: var(--border-radius);
        border: 2px solid var(--bg-color-darkest);
        background-color: var(--bg-color-darker);
    }
</style>

@if (Model.RecipeData != null) {
    @foreach (var recipe in Model.RecipeData.Items) {
        <div class="recipe-list-container">
            <hr/>
            <div class="recipe-list-item">
                <a asp-page="/Recipe" asp-route-versionId="@recipe.LatestVersionId">
                    <div class="recipe-list-text">
                        <h2>@recipe.Name</h2>
                        <p>@recipe.Description</p>
                    </div>
                </a>
                <div class="recipe-list-chip-container">
                    <p class="recipe-list-chip">@recipe.Category</p>
                    <p class="recipe-list-chip">@Math.Round(recipe.AvgScore, 1)/5</p>
                </div>
            </div>
        </div>
    }
}
else {
    <p>An unexpected error occured while fetching recipes.</p>
}