@page "{versionId:int}"
@model RecipeModel
@{
    ViewData["Title"] = Model.Details?.RecipeMetadata.Name;
    const string deleteDialog = "deleteDialog";
    const string madeItDialog = "madeItDialog";
    const string rating = "rating";
}

<div>
    @if (Model.Details == null) {
        <p>Unable to load recipe</p>
    }
    else {
        <div class="header-wrapper">
            <h1>@Model.Details.RecipeMetadata.Name</h1>
            <div class="header-action-wrapper">
                <button class="header-action primary" onclick="OpenDialogById('@madeItDialog')">Review</button>
                @if (Model.Versions.Count > 1) {
                    <a
                        asp-page="/Compare"
                        asp-route-id1="@Model.Versions[^2].VersionId"
                        asp-route-id2="@Model.Versions[^1].VersionId">
                        <button class="header-action">Compare</button>
                    </a>
                }
                <a asp-page="/Create" asp-route-versionId="@Model.Id">
                    <button class="header-action">Edit</button>
                </a>
                <button class="header-action warning" onclick="OpenDialogById('@deleteDialog')">Delete</button>
            </div>
        </div>
        @if (!string.IsNullOrWhiteSpace(Model.Details.RecipeMetadata.OriginalAuthor)) {
            <p>Original Author: @Model.Details.RecipeMetadata.OriginalAuthor</p>
        }
        <p>
            Effort: <span class="underlined">@Model.Details.RecipeMetadata.EffortLevel</span>,
            @if (Model.Details.RecipeMetadata.ActiveTimeMinutes == Model.Details.RecipeMetadata.TotalTimeMinutes) {
                <span>Time: <span class="underlined">@Model.Details.RecipeMetadata.TotalTimeMinutes Minutes</span></span>
            }
            else {
                <span>
                Total Time: <span class="underlined">@Model.Details.RecipeMetadata.TotalTimeMinutes Minutes</span>,
                Active Time: <span class="underlined">@Model.Details.RecipeMetadata.ActiveTimeMinutes Minutes</span>
                </span>
            }

        </p>
        <h2>Ingredients</h2>
        <ul>
            @foreach(var ingredient in Model.Details.Ingredients) {
                <li>@ingredient.Name - @ingredient.Quantity @ingredient.Unit</li>
            }
        </ul>
        <h2>Steps</h2>
        <ol>
            @foreach (var step in Model.Details.Steps) {
                <li>
                    <p><b>@step.Name</b></p>
                    <p>@step.Instruction</p>
                </li>
            }
        </ol>
    }
    <h2 id="comments">Comments</h2>
    @if (Model.Comments.Count == 0) {
        <p>No comments yet!</p>
    }
    else {
        var isFirstComment = true;
        foreach (var comment in Model.Comments.Where(c => c.VersionId == Model.Details?.Version.VersionId).OrderByDescending(c => c.CreatedAt)) {
            if (!isFirstComment) {
                <hr />
            }
            isFirstComment = false;
            <p>Rating: @($"{comment.Rating}/5") at @ViewUtils.FormatDate(comment.CreatedAt)</p>
            @if (!string.IsNullOrWhiteSpace(comment.Comment)) {
                <p>Comment: @comment.Comment</p>
            }
        }
        <h2>Previous Comments</h2>
        isFirstComment = true;
        foreach (var comment in Model.Comments.Where(c => c.VersionId != Model.Details?.Version.VersionId).OrderByDescending(c => c.CreatedAt)) {
            if (!isFirstComment) {
                <hr />
            }
            isFirstComment = false;
            <p>Rating: @($"{comment.Rating}/5") at @ViewUtils.FormatDate(comment.CreatedAt)</p>
            @if (!string.IsNullOrWhiteSpace(comment.Comment)) {
                <p>Comment: @comment.Comment</p>
            }
        }
    }
    <dialog id="@madeItDialog">
        <form method="post">
            <div>
                <label for="@rating">Rating (out of 5):</label>
                <input
                    asp-for="@Model.NewComment.Rating"
                    id="@rating"
                    required/>
            </div>
            <div>
                <label for="comment">Comment (optional)</label>
                <textarea
                    rows="4"
                    asp-for="@Model.NewComment.Comment"
                    id="comment" ></textarea>
            </div>
            <div class="dialog-footer">
                <hr />
                <div class="dialog-button-wrapper">
                    <button class="dialog-button" onclick="CloseDialogById('@madeItDialog')">Cancel</button>
                    <button
                        class="primary dialog-button"
                        formaction="?action=@RecipeDetailsAction.AddComment"
                        type="submit">
                        Submit
                    </button>
                </div>
            </div>
        </form>
    </dialog>
    <dialog id="@deleteDialog">
        <form method="post">
            <div class="dialog-button-wrapper">
                <p>Type 'DELETE' to confirm</p>
                <input asp-for="@Model.DeleteConfirmation" required/>
                <hr/>
                <button
                    class="warning dialog-button"
                    formaction="?action=@RecipeDetailsAction.DeleteVersion"
                    type="submit">Delete this Version</button>
                <button
                    class="warning dialog-button"
                    formaction="?action=@RecipeDetailsAction.DeleteEntireRecipe"
                    type="submit">Delete ALL Versions</button>
                <button
                    class="dialog-button"
                    type="button"
                    onclick="CloseDialogById('@deleteDialog')">
                    Cancel
                </button>
            </div>
        </form>
    </dialog>
</div>
