@page
@model StatsModel


<script src="https://cdn.jsdelivr.net/npm/chart.js@4.5.1/dist/chart.umd.min.js "></script>
<script type="module">
    const Chart = window.Chart;
    (async function () {
        new Chart(
            document.getElementById('metrics-chart'),
            {
                type: 'line',
                data: {
                    labels: @Json.Serialize(Model?.LineChart?.Labels),
                    datasets: [{
                        label: 'Recipes Made per Month',
                        data: @Json.Serialize(Model?.LineChart?.DataSet)
                    }]
                },
                options: {
                    scales: {
                        y: {
                            min: 0,
                            ticks: {
                                stepSize: 1
                            }
                        }
                    }
                }
            }
        )
    })()
</script>

<div>
    <h1>Stats</h1>
    <canvas id="metrics-chart"></canvas>
    <hr />
    <h2>Recent Favorites</h2>
    <p>(@ViewUtils.FormatDate(DateTime.UtcNow.AddMonths(-2)) - @ViewUtils.FormatDate(DateTime.UtcNow))</p>
    <ol>
        @foreach (var recipe in Model.RecipeCounts) {
            <li>
                <h3>@recipe.Name</h3>
                <p>Made @recipe.Count time(s), average score @Math.Round(recipe.AvgScore, 2)</p>
            </li>
        }
    </ol>
</div>